.rootAboutMe {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.btn_block {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.btn_block Button {
  margin: 10px;
  width: 80px;
}

.Main_info {
  padding: 20px 80px;
  display: flex;

  .Main_info_text_block {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px 5% 10px 0;
    text-align: left;

    .Main_info_name {
      font-size: 1.4rem;
      font-weight: 500;
    }
    .Main_info_else {
      font-size: 1rem;
    }
  }
  .Main_info_picture_block {
    display: flex;
    width: 25%;

    img {
      width: 100%;
    }
  }
}

.Accordion {
  width: 100%;

  .Accordion_BG {
    background-color: aliceblue;
  }

  .Accordion_head {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .Accordion_list {
    width: 100%;

    .List_item {
      text-align: left;
      display: flex;
      padding: 5px 5px 5px 20px;
      justify-content: space-between;

      .first_subItem {
        max-width: calc(100% - 70px);
        padding: 5px 10px 5px 0;
        display: list-item;
        list-style-type: disc;

        ::marker {
          font-size: 1.4rem;
        }
      }

      .second_subItem {
        min-width: 70px;
        padding: 5px;
      }
    }

    .prev_jobs_item {

    }
  }
}

@media screen and (max-width: 768px) {
  .rootAboutMe {
    padding: 20px;

    .Main_info {
      padding: 20px 0;
      .Main_info_text_block {
        width: 65%;
      }
      .Main_info_picture_block {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .rootAboutMe {
    padding: 20px 15px;

    h2 {
      margin: 5px 0;
    }
    .Main_info {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .Main_info_text_block {
        width: 80%;
        padding: 10px 10% 10px 10%;
      }
      .Main_info_picture_block {
        width: 60%;
      }
    }
  }
}


