.nav_bar_ul {
  display: flex;
  flex-direction: row;
  color: white;
}
.nav_bar_ul a {
   color: white;
   margin: 10px;
  text-decoration: none;
}

.nav_bar_icon {
  width: 20px;
  height: 20px;
}

.menuItem {
  padding: 5px;
  font-size: 26px;
}