.nav_bar_ul {
  display: flex;
  flex-direction: row;
  color: white;

  .menuItem {
    padding: 5px;
    font-size: 26px;

    a {
      color: white;
      margin: 10px;
      text-decoration: none;

      .nav_bar_icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .hided_text {
    display: none;
  }
}
