.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3e88ff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fdf8ff;
}

.nav_bar_ul {
  display: flex;
  flex-direction: row;
  color: white;
}
.nav_bar_ul a {
   color: white;
   margin: 10px;
  text-decoration: none;
}


.main_field {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 180px;
  align-items: center;
}

.field_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
}

.field_row > div {
  padding: 10px;
  width: 60px;
  height: 40px;
}
.field_row > div:nth-child(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.game_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.empty_symbol_class {
  width: 40px;
  height: 40px;
}
.o_symbol_class {
  width: 40px;
  height: 40px;
  background-image: url('/images/o-image.svg');
  background-size: 40px;
}
.x_symbol_class {
  width: 40px;
  height: 40px;
  background-image: url('/images/x-image.svg');
  background-size: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
